
.personal-card__header__name {
	text-transform: capitalize;
	font-weight: 800;
	font-size: 25px;
}

.personal-card__info__email::before {
	content: url('./images/envelope.svg');
	margin-right: 2px;
	vertical-align: sub;
}

.personal-card__info__date {
	text-transform: capitalize;
}

.personal-card__info__date::before {
	content: url('./images/calendar.svg');
	margin-right: 2px;
	vertical-align: sub;
}