.main-header {
	background-color: var(--main-color-mute);
	position: fixed;
	z-index: 9;
	box-shadow: 1px 1px 1px 1px var(--main-color-light-gray);
}

.main-header a {
	text-decoration: none;
}

.header-container {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 40% 20% 40%;
	height: 60px;
}

.navigation {
	grid-column-start: 1 2;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}

.navigation a {
	display: block;
	height: calc(100% - 24px);
	color: var(---main-color-gray);
	text-transform: capitalize;
	padding: 20px 20px 0 20px;
	font-size: 18px;
	font-weight: 800;
}

.navigation a:hover {
	border-bottom: 4px solid var(--main-color-red);
	color: var(--main-color-red);
}

.logo {
	grid-column-start: 2 3;
}

.search {
	grid-column-start: 3 4;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;                    
}

@media screen and (max-width: 650px) {
	.main-header {
		position: relative;
		padding-top: 20px;
		box-shadow:  0 0; 
	}
	.logo {
		display: none;
	}
	.header-container {
		grid-template-rows: auto auto;
		grid-template-columns: 100%;
		height: 100%;
	}
	
	.header-container .navigation {
		grid-row-start: 2;
		justify-content: flex-start;
	}
	
	.navigation  a {
		height: 40px;
	}
	
	.header-container .search {
		grid-row-start: 1;
		grid-row-end: 2;
	}
	
	
	
}


