.opinion-thumb {
	width: calc(100% - 20px);
	background-color: var(--main-color-white);
	padding: 5px 10px 5px 10px;
	color: var(--main-color-gray);
	position: relative;
}

.opinion-thumb__header {
	margin-bottom: 5px;
}

.opinion-thumb__title {
	font-weight: 100;
	margin-top: 8px;
	margin-bottom: 5px;
}

.opinion-thumb__title::first-letter {
	text-transform: uppercase;
}

.opinion-thumb__br {
	height: 1px;
	width: 100%;
	background-color: var(--main-color-light-gray);
}

.opinion-thumb__date::first-letter {
	text-transform: capitalize;
}

.opinion-thumb_red-text {
	text-transform: capitalize;
	color: var(--main-color-red);
	font-weight: 600;
	margin-right: 10px;
}

.opinion-thumb__footer {
	margin-top: 10px;
}

.opinion-thumb__separator {
	position: absolute;
	bottom: 0;
	left: 0 ;
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, var(--main-color-lila), var(--main-color-red), var(--main-color-blue));
}




