
.list-comments {
	transform: scale(0);
	transform-origin: top;
	animation: drop-down 0.2s linear forwards;
	will-change: transform;
	width: 100%;
}

.list-comments__ul {
	list-style-type: none;
	padding-left: 0;
}

.list-comments__input-comment {
	padding-bottom: 10px;
}

@keyframes drop-down {
	0% {transform: scaleY(0.3)}
	50% {transform: scaleY(0.7)}
	100% {transform: scaleY(1)}
}
