.log-in {
	width: 100%;
}

.log__header {
	margin-bottom: 50px;
}

.log__title {
	font-size: 50px;
	text-align: center;
	position: relative;
	color: var(--main-color-mute);
	animation-name: dropText;
	transition: transform;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.log__title::after {
	content: url("./images/speech-bubbles.svg");
	position: absolute;
}

.log__input {
	margin-left: 10px;
	width: 250px;
	border: 0;
	padding: 10px 10px;
	font-size: 15px;
	margin-bottom: 15px;
}


@keyframes dropText {
	0% {transform: scale(1); text-shadow: 2px 2px 2px var(--main-color-red);}
	50% {transform: scale(1.2); text-shadow: 4px 4px 2px var(--main-color-red)}
	100% {transform: scale(1); text-shadow: 2px 2px 2px var(--main-color-red)}	
};

.log-in {
	padding: 4%;
}

.log__p {
	color: var(--main-color-white);
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.log_flex {
	display: flex;
}

.log_column {
	flex-direction: column;
	 -ms-flex-direction: column;
}

.log_center {
	align-items: center;
}

.log_end {
	align-items: flex-end;
}


@media screen and (max-width: 600px) {
	.log__title {
		font-size: 30px;
	}
}

@media screen and (max-width: 400px) {
	.log__title::after {
		content: "";
	}
	.log__input {
		width: 100%;
	}
}