.new-speaker-form {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: auto;
	color: var(--main-color-gray);
}

.new-speaker-form .form-title {
	text-align: center;
	text-transform: uppercase;
}

.new-speaker-form label {
	margin-bottom: 5px;
}

.new-speaker-form .label {
	vertical-align: -50%;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	font-weight: 600;
}

.new-speaker-form .submit-button {
	background-color: var(--main-color-lila);
	margin: 0 auto;
}

.popup-container {
	position: relative;
}

.popUp-position {
	top: -150%;
	right: 20px;
}

.error {
	border: 1px solid var(--main-color-red);
}

@media screen and (max-width: 450px) {
	.new-speaker-form input {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	
	.new-speaker-form label {
		text-align: center;
	}
	
	.popUp-position {
		top: calc(100% - 42%);
		right: 0;
	}
}

@media screen and (min-width: 451px) {
	.new-speaker-form {
		grid-template-columns: 150px auto;
	}
	
	.new-speaker-form label {
		grid-column-start: 1;
		grid-column-end: 2;
		text-align: right;
	}
	
	.new-speaker-form input {
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	.form-title, .submit-button {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}