.search-form {
	display: flex;
	justify-content: center;
}

.search-form__input {
	width: 100%;
	border-top-left-radius: 21px;
	border-bottom-left-radius: 21px;
	font-size: 15px;
	background-color: var(--main-color-white);
	height: 20px;
	padding: 8px 25px 8px 12px;
	border: 1px solid var(--main-color-light-gray);
	border-right-width: 0;
}

.search-form__input::placeholder {
	text-transform: capitalize;
	color: var(--main-color-light-gray);
}

.search-form__button {
	background-color: var(--main-color-white);
	border-top-right-radius: 21px;
	border-bottom-right-radius: 21px;
	padding-right: 10px;
	border: 1px solid var(--main-color-light-gray);
	border-left: 0;
}
