.home-view {
	display: grid;
	grid-template-rows: auto auto auto;
	width: 100%;
}

.home-view__left-column {
	grid-row-start: 1;
	grid-row-end: 2;
	height: 500px;
	background-color: yellow;
}

.home-view__center-column {
	grid-row-start: 2;
	grid-row-end: 3;
	height: 500px;
	background-color: red;
}

.home-view__right-column {
	grid-row-start: 3;
	height: 500px;
	background-color: blue;
}

@media screen and (min-width: 650px) {
	.home-view {
		padding-top: 60px;
		grid-template-rows: auto auto;
		grid-template-columns: auto auto;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}
	
	.home-view__left-column {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.home-view__center-column {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	.home-view__right-column {
		grid-row-start: 2;
	}
}

@media screen and (min-width: 1000px) {
	.home-view {
		grid-template-rows: auto;
		grid-template-columns: 300px auto 300px;
	}
	
	.home-view__left-column {
		grid-column-start: 1;
		grid-column-end: 2;
		margin-top: 10px;
	}
	
	.home-view__center-column {
		grid-row-start: 1;
		grid-column-start: 2;
		grid-column-end: 3;
		margin-top: 10px;
	}
	
	.home-view__right-column {
		grid-row-start: 1;
		grid-column-start: 3;
		margin-top: 10px;
	}
	
}