.home-view {
	display: grid;
	grid-template-rows: auto auto auto;
}

.home-view__left-column {
	grid-row-start: 1;
	grid-row-end: 2;
	border-bottom: 1px solid var(--main-color-light-gray);
}

.home-view__profile-anchor {
	text-decoration: none;
	color: var(--main-color-gray);
	display: block;
}

.home-view_white-background {
	background-color: var(--main-color-white);
}

.home-view__center-column {
	grid-row-start: 2;
	grid-row-end: 3;
}

.home-view-opinion-search {
	background-color: var(--main-color-white);
	padding: 10px;
}

.home-view-input {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.home-view-opinion {
	margin-bottom: 10px;
}

.home-view__right-column {
	grid-row-start: 3;
}

@media screen and (min-width: 650px) {
	.home-view {
		grid-template-rows: auto auto;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-column-gap: 10px;
		grid-row-gap: 10px;	
	}
	
	.home-view__left-column {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.home-view__center-column {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	.home-view__right-column {
		grid-row-start: 2;
	}
}

@media screen and (min-width: 1000px) {
	.home-view {
		grid-template-rows: auto;
		grid-template-columns: 250px 1fr 300px;
	}
	
	.home-view__left-column {
		grid-column-start: 1;
		grid-column-end: 2;
		margin-top: 10px;
	}
	
	.home-view__center-column {
		grid-row-start: 1;
		grid-column-start: 2;
		grid-column-end: 3;
		margin-top: 10px;
	}
	
	.home-view__right-column {
		grid-row-start: 1;
		grid-column-start: 3;
		margin-top: 10px;
	}
	
}