.write-comment-container {
	margin-bottom: 18px;
	margin-top: 15px;
}

.write-comment-form {
	display: flex;
}

.write-comment-input {
	padding: 10px;
	border-top-left-radius: 21px;
	border-bottom-left-radius: 21px;
	border: 0;
	border: 1px solid var(--main-color-mute);
	font-size: 17px;
	flex-grow: 1;
}

.write-comment-input::placeholder {
	font-size: 17px;
	text-transform: lowercase;
}

.send-comment-button {
	padding: 10px;
	border-radius: 0;
	border-top-right-radius: 21px;
	border-bottom-right-radius: 21px;
	font-size: 17px;
}