.text-button {
	background-color: var(--main-color-red);
	color: var(--main-color-mute);
	max-width: 160px;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 10px 20px;
}

.text-button:focus {
	outline-style: outset;
	outline-width: 1px;
	outline-color: var(--main-color-light-gray);
}