.general-info {
	list-style-type: none;
	display: flex;
	padding-left: 0;
	margin: 0;
	height: 100%;
}

.general-info__item {
	height: calc(100% - 4px) ;
	margin-right: 20px;
}

.general-info__item__content {
	background-color: transparent;
	border: 0;
	height: 100%;
	display: flex;
	flex-direction: column;	
	text-transform: capitalize;
	font-size: 16px;
}

.general-info__item_selected,
.general-info__item:hover {
	border-bottom: 4px solid var(--main-color-blue);
}

.general-info__item_selected .general-info__item__content__number,
.general-info__item:hover .general-info__item__content__number{
	color: var(--main-color-blue);
}

.general-info__item__content__text {
	margin-top: 5px;
}

.general-info__item__content__number{
	font-size: 20px;
	margin: 0 auto;
}

@media screen and (max-width: 360px) {
	
	.general-info {
		justify-content: space-around;
	}
	.general-info__item {
		margin-right: 0;
	}
}