
.header-view {
	background-color: var(--main-color-white);
}

.header-view-navigation {
	display: flex;
	justify-content: space-evenly;
	overflow: hidden;
}

.header-view-navigation__item {	
	text-decoration: none;
	padding: 15px 0;
	text-transform: uppercase;
	color: var(---main-color-gray);
	font-weight: 800;
	border-bottom: 4px solid transparent;
}

.header-view-navigation__button {
	border-radius: 20px;
	padding: 7px;
	border: 1px solid var(--main-color-red);
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 800;
}

.header-view-navigation__item_blue {
	color: var(--main-color-blue);
}

.header-view-navigation__item_blue::after {
	content: url('./images/icon.svg');
	margin-left: 2px;
}

.header-view-navigation__item_lila {
	color: var(--main-color-lila);
}
.header-view-navigation__item_lila::after {
	content: url('./images/user.svg');
}

.header-view-navigation__button_red {
	color: var(--main-color-red);
	
}

.header-view-navigation__button_red:hover {
	background-color: var(--main-color-light-gray);
}

.header-view-navigation__item:hover {
	border-color: var(--main-color-gray);
}

.header-view-logo {
	grid-column-start: 2 3;
}

.header-view-logo_center {
	display: flex;
	justify-content: center;
	align-items: center;                    
}


