.write-comment-form {
	display: flex;
}

.write-comment__input {
	padding: 10px;
	border-top-left-radius: 21px;
	border-bottom-left-radius: 21px;
	border: 0;
	margin: 0;
	border: 1px solid var(--main-color-mute);
	font-size: 15px;
	flex-grow: 1;
}

.write-comment__input::placeholder {
	font-size: 17px;
	text-transform: lowercase;
}

.write-comment__button {
	padding: 10px;
	border-radius: 0;
	border-top-right-radius: 21px;
	border-bottom-right-radius: 21px;
	font-size: 15px;
	border: 0;
}