.search-container {
	display: inline-block;
	position: relative;
}

.basicSearchInput {
	border-radius: 21px;
	font-size: 15px;
	background-color: var(--main-color-white);
	height: 20px;
	width: 200px;
	padding: 8px 25px 8px 12px;
	margin: 0 auto;
	border: 1px solid var(--main-color-light-gray);
}

.basicSearchInput::placeholder {
	text-transform: capitalize;
	color: var(--main-color-light-gray);
}

.search-button {
	position: absolute;
	bottom: calc(50% - 15px);
	right: 10px;
	background-color: var(--main-color-white);
	border: transparent;
	border-radius: 50%;
}
