.list-comments {
	width: 100%;
}

.list-comments .comments-items {
	transform: scale(0);
	transform-origin: top;
	animation: drop-down 0.2s linear forwards;
	will-change: transform;
	list-style-type: none;
	padding-left: 0;
}

.list-comments .write-comment {
	background-color: var(--main-color-white);
	border: 0;
	color: var(--main-color-blue);
	padding: 10px;
	margin: 10px;
	text-decoration-line: underline;
}

@keyframes drop-down {
	0% {transform: scaleY(0.3)}
	50% {transform: scaleY(0.7)}
	100% {transform: scaleY(1)}
}
